* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}
html {
  background-color: hsl(0, 0%, 59%);
}
body {
  background-color: #fff;
  max-width: 1000px;
  margin: 20px auto;
}
header {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 35px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  text-align: center;
  margin: 15px;
}
h1 {
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 45px;
}
h4 {
  margin-top: 10px;
  font-weight: 500;
  font-family: "Libre Franklin";
  font-size: 20px;
  color: hsl(209, 33%, 12%)
}
span {
  font-family: "Libre Franklin";
  font-weight: lighter;
  color: hsl(0, 0%, 59%);
}
::placeholder {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  opacity: 0.6;
}

.action-form {
  position: relative;
  margin: 10px auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.action-form #email {
  outline: none;
  height: 37px;
  width: 300px;
  border-radius: 17px;
  padding: 10px;
  background: transparent;
  border: 1px solid hsl(223, 100%, 88%);
}
.action-form #submit {
  outline: none;
  width: 130px;
  height: 35px;
  font-weight: 600;
  border: none;
  color: #fff;
  border-radius: 17px;
  padding: 10px;
  background: hsl(223, 87%, 63%);
}

.illustration img {
  margin-top: 20px;
  height: 300px;
}
footer {
  text-align: center;
  margin-bottom: 10px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-icon {
  font-size: 16px;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 20px;
  padding: 5px;
  margin: 10px 5px;
  background-color: transparent;
  color: hsl(223, 87%, 63%);
}
ion-icon:hover {
  background-color: hsl(223, 87%, 63%);
  color: #fff;
  cursor: grabbing;
}
.attribution {
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#small {
  position: absolute;
  top: 110%;
  left: 20px;
  display: block;
}
